In [1]:
t = (1,2,3)

In [2]:
mylist = [1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(mylist)

list

In [5]:
t

(1, 2, 3)

In [6]:
t = ('one',2)

In [7]:
t

('one', 2)

In [8]:
t[0]

'one'

In [9]:
t[-1]

2

In [10]:
t =('a','a','b')

In [11]:
t.count('a') #liczy ile razy podany element jet w typ tuplecie

2

In [13]:
t.index('a') #wywietla w jakim indeksie jest dany elemet ale tylko pierwszy elemt

0

In [14]:
mylist

[1, 2, 3]

In [15]:
mylist [0] = 'wypierdalaj'

In [16]:
mylist

['wypierdalaj', 2, 3]

In [17]:
t[0] = 5 # nie da sie zmienic jego elementu, przydatne aby nie zminic elemntow i utrzymac integracje danych

TypeError: 'tuple' object does not support item assignment